html {
  font-family: 'Balsamiq Sans', cursive;
  box-sizing: border-box;
  font-size: 62.5%;
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  background-color: #e5fb6a; }

body {
  font-size: 1.6rem;
  margin-right: 1rem; 
  text-align: center;}

.work-area {
  column-gap: 1em; }

#r1 {
  position: absolute;
  top: 5rem;
  left: -2.5rem; }

.note {
  background-color: #eee;
  display: inline-block;
  width: 100%;
  background-color: --bs-info;
  border-radius: 20px;
  margin: 10px 10px 10px 0px; }

.note__footer {
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 10px; }

.setting__btn {
  border-radius: 5px;
  height: 15px;
  background: linear-gradient(#f5ae00, #f59500) #f5ae00;
  padding: 11px 5px 14px 5px;
  vertical-align: middle;
  margin: 2px;
  display: inline; }

.note__title {
  display: flex;
  justify-content: center; }

.note__btns {
  display: flex; }

.note__date, .note__favorit, .note__saved, .note__notSaved, .note__pallet, .note__text-color {
  margin: 5px;
  justify-content: space-between; }

.img:hover {
  -webkit-transform: scale(1.3); }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }
  .note__delete {
    height: 27px;
    width: 27px;
    margin-right:0;
   
  }
  h2{
    width: 90%;
  }
@media (max-width: 1179px) {
  .img {
    width: 16px;
    height: 16px; }
    .note__delete {
      
      height: 20px;
      width: 20px;
    }
  html {
    font-size: 50%; } }
  body {

  }
@media (max-width: 768px) {
  .word-area {
    column-count: 1; }

  body {
    font-size: 1.2rem;
     
    margin-right: 1rem;}
  .note__text {
    font-size:1.8rem;
  }

  .setting__btn {
    padding-top: 5px;
    height: 10px; } 
  .note__delete {
    
    height: 20px;
    width: 20px;
  }
  }
.note__delete {
  background-image: url("../img/cross-circle.svg");
  position: relative;
  left:-px;
}
.note__favorit {
  background-image: url("../img/star.svg"); }

.note__favorit--active {
  background-image: url("../img/star-active12.png"); }

.note__saved {
  background-image: url("../img/saved.png"); }

.note__notSaved {
  background-image: url("../img/notSaved.png"); }

.note__pallet {
  background-image: url("../img/palette.png"); }

.note__text-color {
  background-image: url("../img/text-color.png"); }

.note__text {
  padding: 0px 14px;
  text-align: justify; }

.setting__count-column {
  position: relative; }

h1 {
  text-align: center;
}

h2 {
  padding-left: 1.4rem;
  padding-right: 0;
  word-break: break-word;
  width: 97.5%;
  margin-bottom: 0px; }

.settings {
  display: flex;
  justify-content: center; }

.ball {
  height: 150px;
  width: 150px;
  background-color: red; }

.hide {
  display: none; }

/*# sourceMappingURL=style.css.map */
